<div class="jumbotron p-4 mb-4 bg-light border rounded">
  <h2 class="display-6 text-primary">
    <strong><%= crud.first_name %> <%= crud.last_name %></strong>
  </h2>

  <hr class="my-4">

  <p>
    <strong>Phone Number:</strong> <%= crud.phone_no %>
  </p>

  <p>
    <strong>House Address:</strong> <%= crud.house_address %>
  </p>

  <p>
    <strong>Day Registered:</strong> <%= crud.day_registered %>
  </p>

  <p>
    <strong>Email:</strong> <%= crud.email_id %>
  </p>
</div>
